@import "_button_button.css";
.poll{
    background-color:#15a2fa;
}
.poll-poll{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translateY(200%);
}
.poll-3{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    font-family: "Saira";
    transform: translateY(200%);
}
.questions{
    color: #fff;
    font-size: 1.2rem;
    transform: translateY(20%); 
    font-family: "Roboto-mono";
    margin: 1vh 10vw;
}
.rad-button input{
    radius: 50px;
}
.poll {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
.next-poll{
    margin-top: 35vh;
    margin-bottom: 10vh;
    margin-left: 11.5vw;
    width: fit-content;
}
.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    /* font-size: 15px; */
    transition: 0.4s;
     }
.panel {
    padding-left: 1.5rem;
    /* background-color: #fff; */
    display: none;
    max-height: 0;        
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    }