@import "_button_button.css";
.home-cover{
    background-color:#15a2fa;
    height: 150vh;
    width: 100vw;
}
.cover-inner{
    width: 100vw;
    height: 100vh;
    background: url('/public/images/Capture.PNG') no-repeat;
    z-index: 1000;
    margin-left: calc((100vw - 100vw) / 2);
    background-size: contain;
    background-position: bottom;
}
/* I started Here */
.btn {
  position: relative;
  font-family: segoe ui;

  display: block;
  margin: auto;
  padding: 0;
  top: 250px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color:#686de0;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #4834d4;
}


.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

#ft1 {

	font-family: "segoe ui";
	font-weight: lighter;
	color:  white;
	font-size: 3rem;
	z-index: 10000;
	text-align: center;
	
}

#ft2 {

	font-family: "segoe ui";
	font-weight: lighter;
	color:  white;
	font-size: 1rem;
	z-index: 10000;
	text-align: center;
	
}
/* I end here*/